<div class="overallContainer">
  <div class="identity">
    <h1>Bienvenue {{myUser.name}}</h1>
    <a [routerLink]="['/social']">Accéder aux activités réçentes d'autres utilisateurs</a>
  </div>
  <div>
    <h2>Tableau de bord</h2>
  </div>

  <div class="board">
    <div>
      <table>
        <tr>
          <th>Activité</th>
          <th>Temps total</th>
          <th>Entrainement</th>
          <th>Rendre public</th>
        </tr>
        <tr *ngFor="let activity of activities, index as i">
          <td>
            {{activity.description}}
            <img src="assets/img/editing-pencil_icon-icons.com_68219.svg" (click)="editNameActivity(activity)">
          </td>
          <td class="addTimeSpent">{{activity.trainingOn}} h</td>
          <td>
            <input [(ngModel)]="activity.addedTime" type="number" min="0" max="6" placeholder="0">
            <button type="button" (click)="addTrainingTime(activity.addedTime, activity.id)">+</button>
          </td>
          <td>
            <img *ngIf="activity.isPublic === 1" src="assets/img/checkbocFull.png" (click)="isPublic(activity)">
            <img *ngIf="activity.isPublic === 0" src="assets/img/checkboxEmpty.png" (click)="isPublic(activity)">
          </td>
        </tr>
      </table>
    </div>

    <div class="addAct">
      <label for="addActivity" (click)="buttonDisplay = true; nameAdded = ''">Ajouter une Activité: </label>
      <input [(ngModel)]='nameAdded' type="text" name="addActivity" placeholder="Nom de l'activité">
      <button type="button" *ngIf="buttonDisplay" (click)="addActivity()" class="addButton">Ajouter</button>
      <button type="button" *ngIf="!buttonDisplay" (click)="sendNewName(nameAdded)" class="addButton">Editer</button>
    </div>

    <div>
      <app-chart ></app-chart>
    </div>

  </div>
  
</div>