<div class="overallContainer">
  <div class="identity">
    <h1>Bienvenue {{myUser.name}}</h1>
  </div>
  <div>
    <h2>My Dashboard</h2>
  </div>

  <div class="board">
    <div>
      <table>
        <tr>
          <th>Nom</th>
          <th>Temps total</th>
          <th>Ajouter</th>
          <th>Rendre public</th>
        </tr>
        <tr *ngFor="let activity of activities">
          <td>
            {{activity.description}}
            <button type="button" (click)="editNameActivity(activity)">?</button>
          </td>
          <td class="addTimeSpent">{{activity.trainingOn}} h</td>
          <td>
            <input [(ngModel)]="addedTime" type="number" min="0" max="6" placeholder="0">
            <button type="button" (click)="addTrainingTime(addedTime, activity.id)">+</button>
          </td>
          <td>
            <button type="button" (click)="isPublic(activity)">P</button>
          </td>
        </tr>
      </table>
    </div>

    <div class="addAct">
      <label for="addActivity">New activity: </label>
      <input [(ngModel)]='nameAdded' type="text" name="addActivity" placeholder="Name of your activity">
      <button type="button" *ngIf="buttonDisplay" (click)="addActivity()" class="addButton">Add</button>
      <button type="button" *ngIf="!buttonDisplay" (click)="sendNewName(nameAdded)" class="addButton">Edit</button>
    </div>

    <div>
      <app-chart></app-chart>
    </div>

    <button (click)="destroyThemAll()">DESTROY ALL</button>
  </div>
  
  <a [routerLink]="['/social']">Lien vers la page Social</a>
</div>